body {
  background-color: #008083;
  height: 100vh;
  overflow: hidden;
}

#main-container {
  margin: 0;
  border: 0;
  padding: 5px;
}

#main-container button {
  margin: 5px 20px 15px 20px;
  border: 0;
  padding: 0;
  text-align: center;
  display: block;
  background-color: transparent;
  color:white;
}

#main-container img {
  image-rendering: pixelated;
  height: 64px;
  width: 64px;
}

#taskbar-container ul {
  list-style-type: none;
}

#taskbar-container li {
  display: inline-block;
  padding: 16px;
  text-align: center;
}

#taskbar-container {
  position: absolute;
  bottom: 0;
  height: 48px;
  clear:both;
  background-color: #c0c0c0;
  box-shadow: 0px -2px #dfdfdf, 0px -4px #b5b5b5;
  align-items: center;
}